body{
	background-image: url("https://images.unsplash.com/photo-1578303917852-b2c3c0851e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.jpg");
	background-size: cover;
	overflow-x: hidden;
}

.class1{
	color: #ffffff;
	font-family: Balsamiq Sans,cursive;
	font-size: 10px;
}

.class3{
	color: #001133
}

.jumbotron.class1 {
  background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.jpg");
  background-size: cover;
}

.jumbotron.class2 {
	background-image: url("https://images.unsplash.com/photo-1533035336122-4327d347d2fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.jpg")
	background-size:cover;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 30px;
}

h3{
	font-family: Balsamiq Sans,cursive;
}

h4{
	font-family: 'Caladea', serif;
}

h1 {font-size: 60%; line-height:60%;}



.jumbotron.class4{
    width: 100%;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 50px;
    background-image: url("https://images.unsplash.com/photo-1533035336122-4327d347d2fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.jpg")
	background-size:cover;

}

.class5{
	margin-left:75px;
	margin-right: 10px;
	margin-top: 00px; 
	border-radius: 200px;
	width: 200px;
	height: 200px;
	padding-top: 0px;
	

	
}

.class6{
	margin-top: 30px;
	margin-left: 85px;
	margin-right: 10px;
	font-family: Balsamiq Sans,cursive;
	font-size: 20px;
	color: #595959;
}

.class7{
	margin-left: 130px;
}

.class8{
	margin-left: 20px;
}

.jumbotron.class9{
    width: 100%;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 1px;
    padding-top: 10px;
}